
      * {
        box-sizing: border-box;
      }
      
      body {
        height: 100vh;
        margin: 0;
        font-family: Helvetica;
        display: grid;
        /* mobile first - single column */
        grid-template-columns: 1fr;
        grid-template-rows: 50px 30px auto 100px;
         
      }
      
      header {
        grid-area: hdr;
        background-color: #696e7e;
      }
      
      footer {
        grid-area: ftr;
        background-color: #b1fcc8;
      }
      
      aside{

        background-color: #0421188a;

      }
      
      
      
     
      
      header,
      footer,
      aside {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      @media only screen and (min-width: 768px) {
        body {
          grid-template-columns: 1fr 4fr;
          grid-template-rows: 50px auto 30px;
          grid-template-areas: 
          "hdr hdr"
          "side content"
          "ftr ftr";
        }
      
      }



      .square {
        width: 200px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 75px;
    }


    #p, main {
      display: flex;
      padding: 1rem;
      border-radius: 7px;
      margin: .15rem;
      text-shadow: 2px 3px 5px #000000;
      /* rem stands for root element metric - by default it's equal to 16 */
      grid-area: content;
        color: white;
        align-items: left;
    }



    .flex-grid {
      display: flex;
      flex-wrap: wrap;
      height: 500px;
      width: 50%;
    }
    .grid-item {
      flex: 1 1 calc(100% - 50px);
      background: #F90;
      border-top: solid 1px #000;
      width: 50%;
    }
    .grid-item:nth-child(odd) {
      background: #F00;
      flex: 0 0 50px;
      width: 50%;

    }