
      * {
        box-sizing: border-box;
      }
      
      body {
        height: 100vh;
        margin: 0;
        font-family: Helvetica;
        display: grid;
        /* mobile first - single column */
        grid-template-columns: 1fr;
        grid-template-rows: 50px 30px auto 100px;
         
      }
      
      header {
        grid-area: hdr;
        background-color: #696e7e;
      }
      
      footer {
        grid-area: ftr;
        background-color: #b1fcc8;
      }
      
      aside{

        background-color: #0421188a;

      }
      
      
      
     
      
      header,
      footer,
      aside {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      @media only screen and (min-width: 768px) {
        body {
          grid-template-columns: 1fr 4fr;
          grid-template-rows: 50px auto 30px;
          grid-template-areas: 
          "hdr hdr"
          "side content"
          "ftr ftr";
        }
      
      }



      .square {
        width: 200px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 75px;
    }


    #p, main {
      display: flex;
      flex-direction: row;
      justify-content: end;
      padding: 1rem;
      color: #daa520;
      background-size: cover;
      background-position: center;
      border-radius: 7px;
      margin: .15rem;
      text-shadow: 2px 3px 5px #000000;
      width: 18.75rem;
      height: 12.5rem; /* rem stands for root element metric - by default it's equal to 16 */
  
       
        grid-area: content;
        background-color: #1c1e6d;
        color: white;
        display: flex;
        justify-content: center;
        align-items: left;
      
  
  
    }

  